SUPABASE_URL: <*****************************>
SUPABASE_KEY: <********************************************************>
SUPABASE_SERVICE_ROLE_KEY: <"**********************************">

// Email Sending 
EMAIL_USER=add_you_email@gmail.com
EMAIL_APP_PASSWORD=enter_your_app_password 