SUPABASE_URL: <*****************************>
SUPABASE_KEY: <********************************************************>
SUPABASE_SERVICE_ROLE_KEY: <"**********************************">
ML_SERVICE_URL=http://localhost:5000
ML_PORT=5000
